/* Style for sticky header */
header {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #021526;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 5px;
  z-index: 1000; /* Ensure the header stays above other content */
  transition: background-color 0.3s ease;
}

header img {
  margin-left: 70px;
  max-height: 55px;
}

nav a {
  margin-right: 150px;
  text-decoration: none;
  color: #fff; /* Ubah warna teks menjadi putih */
  font-weight: bold;
  transition: color 0.3s ease; /* Tambah efek transisi */
}

nav a:hover {
  color: #c7c8cc; /* Warna saat hover (abu-abu muda) */
}

/* Style body dan main content */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

main {
  padding: 20px;
}
